<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NocnomApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_nocnom_launcher"
        android:roundIcon="@drawable/ic_nocnom_launcher"
        android:label="nOcnOm"
        android:theme="@style/Theme.Nocnom"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
